<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="home.css">
</head>
<body>
    <nav>
        <div class="wrapper">
            <div class="logo"><a href="">VolleyballHub</a></div>
            <div class="menu">
                <ul>
                    <li><a href="/logoutAdmin" class="tbl-biru">Log Out</a></li>
                </ul>
            </div>
        </div>
    </nav>
    <div class="wrapper">
        <section id="home">
            <img src="https://img.freepik.com/free-vector/people-analyzing-growth-charts_23-2148866843.jpg?size=626&ext=jpg&ga=GA1.2.987217480.1667978095&semt=sph" alt="">
            <div class="kolom">
                <p class="deskripsi">Where All People Gather</p>
                <h2>Data User</h2>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Sit qui, soluta in assumenda ipsum deleniti iure recusandae! Magnam, accusamus ut!</p>
                <p><a href="/dataUser" class="tbl-pink">View</a></p>
            </div>
        </section>
        <section id="pedia">
            <div class="kolom">
              <p class="deskripsi">Bringing The Happiness</p>
              <h2>Transaction</h2>
              <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Possimus asperiores deleniti error mollitia harum quaerat ut voluptatum molestiae culpa dolorum.</p>
              <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Possimus asperiores deleniti error mollitia harum quaerat ut voluptatum molestiae culpa dolorum.</p>
              <p><a href="/adminTran" class="tbl-biru">View</a></p>
            </div>
            <img src="https://img.freepik.com/free-vector/e-wallet-concept-illustration_114360-7561.jpg?size=338&ext=jpg&ga=GA1.2.987217480.1667978095&semt=sph" alt=""> 
          </section>
    </div>
</body>
</html>