<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>VolleyballHub</title>
    <link rel="stylesheet" href="home.css">
</head>
<body>
  <nav>
    <div class="wrapper">
        <div class="logo"><a href="">VolleyballHub</a></div>
        <div class="menu">
            <ul>
                <li><a href="#home">Home</a></li>
                <li><a href="#pedia">Pedia</a></li>
                <li><a href="#history">History</a></li>
                <li><a href="#store">Store</a></li>
                <li><a href="/registrasi" class="tbl-biru">Sign Up</a></li>
                <li><a href="/loginAdmin" class="tbl-biru" style="margin-left: 9px;">Login as Admin</a></li>
            </ul>
        </div>
    </div>
  </nav>
  <div class="wrapper">
    <section id="home">
        <img src="https://img.freepik.com/free-vector/hand-drawn-man-playing-volleyball-illustration_23-2149426004.jpg?size=338&ext=jpg&ga=GA1.2.987217480.1667978095&semt=sph" alt="">
        <div class="kolom">
            <p class="deskripsi">That's the Way we Love it!</p>
            <h2>Bump, Set, Dig, and Spike it!</h2>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Sit qui, soluta in assumenda ipsum deleniti iure recusandae! Magnam, accusamus ut!</p>
            <p><a href="/registrasi" class="tbl-pink">Learn More</a></p>
        </div>
    </section>
    <section id="pedia">
      <div class="kolom">
        <p class="deskripsi">The More You Know</p>
        <h2>Pedia</h2>
        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Possimus asperiores deleniti error mollitia harum quaerat ut voluptatum molestiae culpa dolorum.</p>
        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Possimus asperiores deleniti error mollitia harum quaerat ut voluptatum molestiae culpa dolorum.</p>
        <p><a href="/registrasi" class="tbl-biru">Learn More</a></p>
      </div>
      <img src="https://img.freepik.com/free-vector/hand-drawn-man-silhouette-playing-game_23-2149426007.jpg?size=338&ext=jpg&ga=GA1.2.987217480.1667978095&semt=sph" alt=""> 
    </section>
    <section id="history">
      <img src="https://img.freepik.com/free-vector/hand-drawn-man-silhouette-playing-sport_23-2149426006.jpg?size=338&ext=jpg&ga=GA1.2.987217480.1667978095&semt=sph" alt="">
      <div class="kolom">
        <p class="deskripsi">How It Get Started!</p>
        <h2>History</h2>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsum repellendus alias totam sed, ea nisi repudiandae eum vero dolores excepturi!</p>
        <p><a href="/registrasi" class="tbl-pink">Learn More</a></p>
      </div>
    </section>
    <footer>
      <div class="end">
        <small>Copyright &copy; 2022 - VolleyballHub Team. All Rights Reserved</small>
      </div>
    </footer>
  </div>
</body>
</html>